@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.containerUser {
  box-shadow: $box-shadow;
  width: 100%;

  .user {
    @include display(flex, row, space-between, center, 5px, 0);
    background-color: rgba($mint, 0.5);
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    height: 58px;

    .container_image {
      height: 100%;
      margin-right: 20px;

      svg {
        border-radius: 5px 0 0 5px;
        height: 100%;
        width: 58px;
      }
    }

    .details {
      @include display(flex, row, center, center, 0, 0);
      width: 80%;
      padding: 0 1%;

      h2 {
        @include font("Montserrat", 500, 0.9rem, none, capitalize, 0, 0);
        color: $whiteSmoke;
        word-break: break-all;
      }
    }
  }
}
