@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.user {
  @include display(flex, row, flex-start, center, 0, 0);
  background-color: $whiteSmoke;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  box-shadow: $box-shadow;

  .container_image {
    height: 100%;
    border-bottom: 1px solid $mint;
    margin-right: 20px;
  }

  .details {
    @include display(flex, row, space-between, center, 0, 0);

    h2 {
      @include font("Montserrat", 500, 1.1rem, none, none, 0, 0);
      color: $mint;
    }
  }
}
