.user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.avatar {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    // border: 1px solid #ccc;
    padding: 5px;
  }
}
