@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.match {
  width: 100%;
  @include display(flex, column, normal, inherit, 5px, 15px 0 0 0);
  position: absolute;
  top: 10vh;
  max-width: 640px;
  padding: 1% 3%;
  .match_content {
    @include display(flex, column, inherit, center, 0, 0);

    .teams {
      @include display(inherit, row, inherit, flex-start, 0, 0);
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr 2fr;
      .imgVs {
        width: 70%;
        height: auto;
        margin: 40% auto;
      }
      .btnAdd {
        @include display(flex, column, center, center, 0, 0);
        @include font("Montserrat", 600, 0.8rem, none, uppercase, 1px, 0);
        color: $whiteSmoke;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: $mint;
        border: none;
        box-shadow: $box-shadow;
        transition: all 0.35s ease-in-out;
        cursor: pointer;
        height: 100%;
        width: 100%;
      }
      .btnAdd:hover {
        background-color: $lightGreen;
        color: $black;
      }
      .btnAdd:disabled {
        @include font("Montserrat", 600, 0.8rem, none, uppercase, 1px, 0);

        background-color: grey;
        color: $whiteSmoke;
        cursor: initial;
      }

      .team1 {
        width: 100%;

        .img {
          width: 80%;
          height: auto;
          margin: 0px auto 20px auto;
        }

        .userAction {
          @include display(flex, row, center, center, 0, 0);

          margin-bottom: 10px;

          .button {
            @include display(flex, column, center, center, 0, 0);
            @include font("Montserrat", 900, 1rem, none, uppercase, 1px, 0);
            color: $whiteSmoke;
            padding: 5px 10px;
            background-color: $mint;
            border: none;
            box-shadow: $box-shadow;
            transition: all 0.35s ease-in-out;
            cursor: pointer;
            height: 58px;
            width: 18%;
          }
          .button:hover {
            background-color: $lightGreen;
            color: $black;
          }
          .button:disabled {
            background-color: grey;
            color: $whiteSmoke;
            cursor: initial;
          }
        }
      }

      .team2 {
        width: 100%;
        .img {
          width: 80%;
          height: auto;
          margin: 0px auto 20px auto;
        }
        .userAction {
          @include display(flex, row, center, center, 0, 0);

          margin-bottom: 10px;

          .button {
            @include display(flex, column, center, center, 0, 0);
            @include font("Montserrat", 900, 1rem, none, uppercase, 1px, 0);
            color: $whiteSmoke;
            padding: 5px 10px;
            background-color: $mint;
            border: none;
            box-shadow: $box-shadow;
            transition: all 0.35s ease-in-out;
            cursor: pointer;
            height: 58px;
            width: 18%;
          }
          .button:hover {
            background-color: $lightGreen;
            color: $black;
          }
          .button:disabled {
            background-color: grey;
            color: $whiteSmoke;
            cursor: initial;
          }
        }
      }
    }

    .detailMAtch {
      @include font("Montserrat", 500, 1rem, none, none, 0, 10px 0 20px 0);
      color: $whiteSmoke;
      width: 100%;
      margin: 20px 0;
      background-color: rgba($mint, 0.5);
      padding: 3%;
      border-radius: 10px;
      box-shadow: $box-shadow;

      h2 {
        @include font("Montserrat", 700, 1rem, none, uppercase, 1px, 0);
      }

      h3 {
        @include font("Montserrat", 500, 1.4rem, none, none, 0, 0);
        line-height: 24px;
      }

      iframe {
        margin: 20px 0 10px 0;
        border-radius: 10px;
        box-shadow: $box-shadow;
      }
    }

    .endButton {
      @include display(flex, row-reverse, space-between, center, 0, 0);
      width: 100%;
      margin-bottom: 40px;

      .report {
        @include font("Montserrat", 600, 0.8rem, none, uppercase, 1px, 0);
        color: $whiteSmoke;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        box-shadow: $box-shadow;
        transition: all 0.35s ease-in-out;
        background-color: $mint;
        cursor: pointer;

        &:hover {
          background-color: $lightGreen;
          color: $petrol;
        }
        &:disabled {
          background-color: grey;
          color: $whiteSmoke;
          cursor: initial;
        }
      }
      .endMatch {
        @include font("Montserrat", 600, 0.8rem, none, uppercase, 1px, 0);
        color: $whiteSmoke;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        box-shadow: $box-shadow;
        transition: all 0.35s ease-in-out;
        background-color: #fe7a7a;
        cursor: pointer;

        &:hover {
          background-color: #fab482;
          color: $whiteSmoke;
        }
        &:disabled {
          background-color: grey;
          color: $whiteSmoke;
          cursor: initial;
        }
      }
    }
  }
}
