@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.teamFormations {
  padding: 1% 3%;
  @include display(flex, inherit, center, flex-start, 16px, 0);

  .team1 {
    border: 1px solid red;
  }

  .team2 {
    border: 1px solid red;
  }

  img {
    width: 80%;
    height: auto;
  }

  .imgVs {
    width: 45px;
    height: auto;
  }

  .vs {
    @include display(flex, column, flex-start, center, 16px, 11% 0);
    width: 2%;
  }

  .team {
    @include display(flex, column, center, center, 16px, 10px 0 10px 0);

    margin-bottom: 30px;
    width: 49%;
  }
}

.form {
  @include display(flex, inherit, center, center, 10px, 0);
  flex-wrap: wrap;

  input,
  .sport {
    width: 40%;
    height: 2rem;
    border-radius: 20px;
    border: none;
    text-align: center;
    box-shadow: $box-shadow;
  }

  .sport {
    width: 82.5%;
  }

  .btn {
    background-color: $mint;
    color: $whiteSmoke;
  }
}
