@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  @include display(flex, column, center, center, 0, 0);

  width: 100%;
  height: 80%;
  text-align: center;

  h2 {
    position: relative;
    color: $whiteSmoke;
    bottom: 5%;
  }
}
