@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.wrapper {
  @include display(flex, column, center, flex-start, 0, 0);
  height: 100%;
  max-width: 640px;
  position: relative;
  top: 15%;
  width: 100%;
  padding: 0 3%;

  @media (min-width: 450px) {
    top: 4%;
  }
  svg {
    width: 100%;
  }

  .wrapperProfile {
    width: 100%;
    padding: 20px 0;

    .container {
      @include display(flex, row, space-between, center, 0, 0);
      background-color: rgba($mint, 0.5);
      padding: 3%;
      border-radius: 10px;
      box-shadow: $box-shadow;
      width: 100%;

      .containerDetails {
        @include display(flex, column, inherit, center, 5px, 0);

        .title {
          @include font("Montserrat", 600, 1.8rem, none, capitalize, 0, 0);
          color: $whiteSmoke;
          text-align: center;
        }
        h3 {
          @include font("Montserrat", 600, 1.4rem, none, none, 0, 0);
          color: $whiteSmoke;
          text-align: center;
        }
        p {
          @include font("Montserrat", 500, 1rem, none, none, 0, 0);
          color: $whiteSmoke;
        }
        strong {
          color: $lightGreen;
        }
        svg {
          width: 100%;
        }
      }
    }

    .containerRating {
      @include display(flex, column, center, center, 0, 0);
      background-color: rgba($whiteSmoke, 0.5);
      padding: 3%;
      border-radius: 10px;
      box-shadow: $box-shadow;
      width: 100%;
      margin: 20px 0;
      .titleRating {
        @include font("Montserrat", 600, 1.4rem, none, capitalize, 0, 0);
        color: $whiteSmoke;
        text-align: center;
      }
      h3 {
        @include font("Montserrat", 600, 1.5rem, none, none, 0, 0);
        color: $whiteSmoke;
        text-align: center;
      }
      .paragraphRating {
        @include font("Montserrat", 500, 0.8rem, none, none, 0, 0 0 20px 0);
        color: $whiteSmoke;
      }
      h4 {
        @include font("Montserrat", 600, 1rem, none, none, 0, 0);
        color: $whiteSmoke;
        text-align: center;
      }

      .rating {
        @include font("Montserrat", 500, 6rem, none, none, 0, 0);
        color: $lightGreen;
      }
    }

    .preferiti {
      gap: 5px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;

      @media (min-width: 450px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    h3 {
      color: $whiteSmoke;
      @include font("Montserrat", 600, 1.4rem, none, capitalize, 0, 0);
      margin-bottom: 10px;
    }

    .button {
      @include font("Montserrat", 600, 0.8rem, none, uppercase, 1px, 0);
      color: $whiteSmoke;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      box-shadow: $box-shadow;
      transition: all 0.55s;
      background: $mint;
      .button:hover {
        background: rgba($mint, 0.7);
      }
    }
  }
}
