@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.CardSport {
  @include display(flex, column, flex-start, center, 0, 0);
  position: relative;
  box-shadow: $box-shadow;
  border-radius: 10px;
  overflow: hidden;
  height: 95px;

  .singleCard {
    width: 100%;
  }

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  img {
    width: 100%;
    object-fit: cover;
  }
  .title {
    position: absolute;
    left: 10%;
    top: 40%;
    font-weight: bold;
    color: $black;
    @include font("Montserrat", 700, 1.6rem, none, none, 0, 0);
  }
}
