@import "./../../styles/mixins.scss";

.CardSport {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-radius: 20px;
  overflow: hidden;
  height: 170px;
  margin: 2%;

  //avevo aggiunto un effetto grow però si sbilancia verso destra la card, chiara aiutami

  // transition: all 0.2s ease-in-out;

  // &:hover {
  //   transform: scale(1.02);
  // }

  img {
    position: relative;
    width: 100%;
    // bottom: 15%;
  }

  .title {
    position: absolute;
    left: 10%;
    font-weight: bold;
  }
}
