@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.CardSport {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
  border-radius: 20px;
  overflow: hidden;
  height: 100px;
  width: 22.3rem;
  margin: 2%;
  margin-left: 0;

  //avevo aggiunto un effetto grow però si sbilancia verso destra la card, chiara aiutami

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  img {
    position: absolute;
    width: 100%;
  }

  .title {
    position: absolute;
    left: 10%;
    font-weight: bold;
  }
}
