@import "./mixins.scss";
@import "./variables.scss";

.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;

  .main {
    @include display(flex, column, inherit, inherit, 0, 0);

    .header {
      width: 100%;
      @include display(flex, column, inherit, inherit, 10px, 0);
      position: absolute;
      top: 10%;
      padding: 8% 3%;

      h3 {
        color: $whiteSmoke;
        font-weight: 600;
        text-align: left;
        line-height: inherit;
      }

      p {
        color: $whiteSmoke;
        font-weight: 400;
      }
    }
  }
}
