@import "./mixins.scss";
@import "./variables.scss";

.main {
  @include display(flex, column, center, center, 0, 0);
  height: 100%;
  max-width: 640px;
  position: fixed;
  top: 6%;
  width: 100%;
  padding: 0 3%;

  .CardSports {
    @include display(flex, inherit, inherit, inherit, 16px, 10px 0 10px 0);
    width: 100%;

    @media (min-width: 450px) {
      width: 80%;
      margin: 10px auto;
    }
  }

  .header {
    width: 100%;
    @include display(flex, column, center, center, 5px, 0);

    h3 {
      color: $whiteSmoke;
      font-size: 1.3rem;
      font-weight: 500;
    }
    h4 {
      color: $whiteSmoke;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}
