@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.modal_match {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal_content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;

  h2 {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  select,
  input {
    width: 100%;
    padding: 5px;
  }
}
.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;

  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: #555; // Colore del testo al passaggio del mouse
  }
}
