@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.modal_match {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, 0.5);

  .modal_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: $whiteSmoke;
    width: 90%;

    h2 {
      text-align: left;
      @include font("Montserrat", 600, 1.6rem, none, none, 0, 0);
      color: $petrol;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    select,
    input {
      width: 100%;
      padding: 5px;
    }
  }
}
