@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.container {
  @include display(flex, column, center, center, 0, 0);
  width: 100%;
  border: solid 1px $whiteSmoke;
  border-radius: 20px;
  background-color: $mint;
  color: $whiteSmoke;
  cursor: pointer;
  transition: transform 0.1s;
  text-align: center;
  transition: all 0.35s ease-in-out;
  padding: 10px 20px;

  &:hover {
    background-color: $lightGreen;
    color: $petrol;
    transform: scale(1.02);
  }

  h4 {
    @include font("Montserrat", 600, 0.8rem, none, none, 0, 0);
  }
}
