@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.wrapper {
  @include display(flex, column, center, center, 0, 0);
  height: 100%;
  max-width: 640px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 3%;
}

.logo {
  width: 250px;
  height: auto;
  margin: 0;
}
.container {
  @include display(flex, column, center, center, 0, 0);
  width: 100%;

  .form {
    @include display(flex, column, center, center, 5px, 0);
    width: 100%;

    input {
      @include font("Montserrat", 500, inherit, none, none, 0, 0);

      border: none;
      width: 100%;
      padding: 5px 10px;
      border-radius: 5px;
      text-align: center;
      box-shadow: $box-shadow;
    }

    .button {
      @include font("Montserrat", 600, 0.8rem, none, uppercase, 1px, 0);
      color: $whiteSmoke;
      padding: 5px 10px;
      border-radius: 5px;
      border: none;
      box-shadow: $box-shadow;
      transition: all 0.35s ease-in-out;
      background-color: $mint;
      cursor: pointer;
      margin-bottom: 20px;
    }

    .button:hover {
      background-color: $lightGreen;
      color: $petrol;
    }
  }

  .title {
    @include font("Montserrat", 500, 1.2rem, none, none, 1px, 0 0 10px 0);
    text-align: center;
    color: $whiteSmoke;
    width: 100%;
  }
  .paragraph {
    color: $whiteSmoke;
    text-align: center;
    margin-bottom: 20px;
  }

  .link {
    color: $lightGreen;
    font-weight: 500;

    &:hover {
      color: $lightGreen;
    }
  }
  footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 640px;
    padding: 5px;
    display: flex;
    flex-direction: column;

    .paragraph2 {
      color: $whiteSmoke;
      text-align: center;
      font-size: 0.55rem;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
}
