@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.wrapper {
  @include display(flex, column, center, center, 0, 0);
  height: 100%;
  max-width: 640px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 3%;
}

.logo {
  width: 250px;
  height: auto;
}
.container {
  @include display(flex, column, center, center, 0, 0);
  width: 100%;

  .form {
    @include display(flex, column, center, center, 5px, 0);
    width: 100%;

    input {
      @include font("Montserrat", 500, inherit, none, none, 0, 0);

      border: none;
      width: 100%;
      padding: 5px 10px;
      border-radius: 5px;
      text-align: center;
      box-shadow: $box-shadow;
    }

    .button {
      @include display(flex, column, center, center, 0, 0);
      @include font(
        "Montserrat",
        600,
        0.9rem,
        none,
        uppercase,
        1px,
        10px 0 10px 0
      );
      color: $whiteSmoke;
      padding: 10px 10px;
      border-radius: 5px;
      border: none;
      box-shadow: $box-shadow;
      transition: all 0.55s;
      background: $mint;
    }

    .button:hover {
      background: rgba($mint, 0.6);
    }
  }

  .title {
    @include font("Montserrat", 500, 1.2rem, none, none, 1px, 1.2rem 0 10px 0);
    text-align: center;
    color: $whiteSmoke;
    width: 100%;
  }
  .paragraph {
    color: $whiteSmoke;
  }

  .link {
    color: $lightGreen;
    font-weight: 500;

    &:hover {
      color: $lightGreen;
    }
  }
}
