@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.wrapper {
  @include display(flex, column, center, center, 0, 0);
  height: 100vh;

  .logo {
    width: 250px;
    height: auto;
  }
  .container {
    h4 {
      @include font("Montserrat", 500, 1.1rem, none, none, 1px, 20px 0 15px 0);
      text-align: left;
      color: $whiteSmoke;
    }

    .form {
      @include display(flex, column, center, flex-start, 0, 0);

      input {
        @include font("Montserrat", 600, 0.7rem, none, none, 1px, 0);
        border: none;
        width: 100%;
        border-radius: 5px;
        text-align: left;
        margin-bottom: 10px;
        padding: 3% 3%;
      }

      .button {
        @include display(flex, column, center, center, 0, 0);
        @include font(
          "Montserrat",
          600,
          0.9rem,
          none,
          uppercase,
          1px,
          20px 0 10px 0
        );
        color: $whiteSmoke;
        padding: 4% 3%;
        border-radius: 10px;
        border: none;
        box-shadow: $box-shadow;
        transition: all 0.55s;
        background: $mint;
      }

      .button:hover {
        background: rgba($mint, 0.6);
      }
    }
    p {
      color: $whiteSmoke;
    }

    .link {
      color: $lightGreen;
      font-weight: 500;

      &:hover {
        color: $lightGreen;
      }
    }
  }
}
