@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.match_list {
  @include display(flex, column, flex-start, center, 0, 0);
  // border: solid red;
  width: 100%;
  height: 75%;
  .description {
    position: relative;
    // bottom: 12%;
  }

  .card_match {
    @include display(flex, column, center, center, 0, 0);
    width: 90%;
    margin: 10px;
  }
}
