@import "./../../styles/variables.scss";

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  box-shadow: $box-shadow;
  background-color: $petrol;
}

.menu {
  display: none;

  .lists {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 1%;
    gap: 30px;
    list-style-type: none;
    background-color: #b2d2b6;
    z-index: 1;
    height: 100%;
    width: 50%;
    box-shadow: $box-shadow;
    overflow: hidden;

    li {
      display: flex;
      flex-direction: column;
      gap: 2%;

      &:hover,
      &active {
        text-decoration: underline;
        color: $petrol;
      }
    }
  }

  &.open {
    display: block;
  }
}
