@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";

.form {
  @include display(flex, column, center, center, 0, 0);
  width: 100%;
  input {
    border: none;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    margin: 10px;
    box-shadow: $box-shadow;
    width: 100%;
    padding: 3% 3%;
    @include font("Montserrat", inherit, inherit, none, none, 0, 5px 0 20px 0);
  }

  .detail {
    @include display(flex, column, center, inherit, 0, 0);
    background-color: $whiteSmoke;
    border-radius: 10px;
    box-shadow: $box-shadow;

    h3 {
      @include font("Montserrat", 500, 1.1rem, none, none, 0, 0);
      text-align: left;
      color: $petrol;
    }

    p {
      @include font("Montserrat", inherit, inherit, none, none, 0, 0);
      text-align: left;
      color: $black;
    }
  }
}
