@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.TeamFormations {
  @include display(flex, row, center, center, 20px, 0);
  height: 100%;
  max-width: 640px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 3%;

  .teamTitle {
    width: 100px;
    @include display(flex, inherit, center, center, 16px, 0);
  }

  img {
    width: 60%;
    height: auto;
  }

  .imgVs {
    width: 15%;
    height: auto;
  }

  .vs {
    @include display(flex, column, flex-start, center, 16px, 10px 0 10px 0);
    height: 100%;
    position: fixed;
    top: 20%;
  }

  .team {
    @include display(flex, column, center, center, 16px, 10px 0 10px 0);
  }
}

.buttonContainer {
  @include display(flex, column, inherit, inherit, 16px, 0);
  padding: 10px 3% 20px 3%;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: $petrol;

  .button_formation {
    width: 100%;

    @include font("Montserrat", 600, 0.9rem, none, uppercase, 1px, 0);
    color: $whiteSmoke;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $mint;
    box-shadow: $box-shadow;
    background: linear-gradient(90deg, $petrol 0%, $mint 50%, $lightGreen 100%);
    background-size: 400% 400%;
    animation: AnimationGradient 6s linear infinite;
    transition: background-color 0.35s;
    margin: 0 auto;
  }

  @keyframes AnimationGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .button_formation:hover {
    background-color: $petrol;
    animation: none;
  }
}
