@import "./../../styles/mixins.scss";
@import "./../../styles/variables.scss";

.TeamFormations {
  @include display(flex, row, center, center, 20px, 0);
  height: 100%;
  max-width: 640px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 3%;

  .teamTitle {
    width: 100px;
    @include display(flex, inherit, center, center, 16px, 0);
  }

  img {
    width: 60%;
    height: auto;
  }

  .imgVs {
    width: 15%;
    height: auto;
  }

  .vs {
    @include display(flex, column, flex-start, center, 16px, 10px 0 10px 0);
    height: 100%;
    position: fixed;
    top: 20%;
  }

  .team {
    @include display(flex, column, center, center, 16px, 10px 0 10px 0);
  }
}

.buttonContainer {
  width: 100%;
  @include font("Montserrat", 600, 0.9rem, none, uppercase, 1px, 0);
  color: $whiteSmoke;
  padding: 10px;
  box-shadow: $box-shadow;
  position: fixed;
  bottom: 0px;
  width: 100%;

  .button_formation {
    @include display(flex, column, center, center, 0, 0);
    @include font("Montserrat", 600, 0.9rem, none, uppercase, 1px, 0);
    color: $whiteSmoke;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: $box-shadow;
    transition: all 0.55s;
    background: $mint;
  }

  .button_formation:hover {
    background: rgba($mint, 0.6);
  }
}
